.bars {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.hidden-bar {
    height: 100%;
    display: inline-block;
}

.bar {
    width: 2.5%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    height: 100%;
    position: relative;
    bottom: 0;
    display: inline-block;
    transition: all 150ms ease;
}

.shake {
    animation: shake 100ms linear both;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    
    35%{
      transform: rotate(2deg);
    }
  
    75% {
      transform: rotate(-2deg);
    }
  }