.bars {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.hidden-bar {
    height: 100%;
    display: inline-block;
}

.bar {
    width: 2.925%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    height: 100%;
    position: relative;
    bottom: 0;
    display: inline-block;
    transition: all 50ms ease;
}

.shake {
    animation: shake 200ms linear both infinite;
  }
  
  @keyframes shake {
    0% {
      transform: scale(1.00);
    }
    
    35%{
      transform: scale(1.05);
    }

    75%{
      transform: scale(1.00);
    }

  }