.choice {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}

.choice:hover {
    cursor: pointer;
}

.active {
    box-shadow: rgba(56,188,30, 0.2) 0 0 0 1000px inset;
}