.container-fluid {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: none !important;
    padding-right: none !important;
}

.title {
    font-weight: bold;
}

/* background is initially just a colour */
.bg1 { 
    background-image: url('../backgrounds/1.jpeg');
}

/* 9 available backgrounds as gifs. naming convention is simply "bg" + n */
.bg2 {
    background-image: url('../backgrounds/2.gif');
}

.bg3 {
    background-image: url('../backgrounds/3.gif');
}

.bg4 {
    background-image: url('../backgrounds/4.gif');
}

.bg5 {
    background-image: url('../backgrounds/5.gif');
}

.bg6 {
    background-image: url('../backgrounds/6.gif');
}

.bg7 {
    background-image: url('../backgrounds/7.gif');
}

.bg8 {
    background-image: url('../backgrounds/8.gif');
}

.bg9 {
    background-image: url('../backgrounds/9.gif');
}