.container-fluid {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: bold;
}

/* background is initially just a colour */
.bg1 { 
    background-image: url('../backgrounds/1.jpeg');
}

/* will have about 25 available backgrounds as gifs. naming convention will simply be "bg" + n" */
.bg2 {
    background-image: url('../backgrounds/2.gif');
}

.bg3 {
    background-image: url('../backgrounds/3.gif');
}

.bg4 {
    background-image: url('../backgrounds/4.gif');
}

.bg5 {
    background-image: url('../backgrounds/5.gif');
}

.bg6 {
    background-image: url('../backgrounds/6.gif');
}